/* buttons */
#buttons {
    display: flex;
    flex-direction: row;
}

#comment {
    margin-right: auto;
    margin-left: 70px;
}

@media (max-width:768px){
    #comment {
        margin-left: 15px;
    }
}