.x{
    height: 350px;
    width: 350px;
}

section p{
    text-align: center;
}

/* table */
#table{
    padding: 30px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: rgba(255,174,100,0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

@media (min-width:768px) and (max-width:1200px){
    .x{
        width: 200px;
        height: 200px;
    }
}

@media (max-width:768px){
    #table{
        padding: 10px;
        padding-right: 10px;
    }

    section{
        padding: 10px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .x{
        width: 110px;
        height: 110px;
    }

    .x p{
        width: 100px;
    }
}