.new {
    border-radius: 17px;
    background-color: rgba(255, 211, 211, 0.75);
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.date {
    margin-right: 10px;
    width: 135px;
    align-self: center;
}

.text {
    width: 805px;
}

/* table */
#scroll-table {
    overflow-y: scroll;
    align-self: center;
    height: calc(100vh - 232px);
    margin-bottom: auto;
    padding-right: 10px;
}
#scroll-table::before{
    width: 1036px;
    height: calc(100vh - 236px);
    position:fixed;
    top: 222px;
    left: calc(50vw - 516px); 
    content: '';
    z-index: -1;
    border-top-left-radius: 20px;
    border-top-right-radius: 15px;
    background: linear-gradient(rgba(255,255,0,1),rgba(255,255,0,0));
}