/* plans */
#plans {
    display: flex;
    flex-direction: row;
}

#plan-image {
    height: 470px;
    width: 350px;
}

.deploy {
    height: 60px;
    width: 60px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - 530px);
    border: solid black 2px;
    border-radius: 15px;
    align-items: center;
    height: 60px;
    padding: 20px;
    margin-bottom: 10px;
}

#done {
    background-color: rgba(0, 255, 0, 0.4);
}

#almost-done {
    background-color: rgba(255, 255, 0, 0.4);
}

#will-done {
    background-color: rgba(255, 0, 0, 0.4);
}

#future{
    background-color: rgba(255, 255, 255, 0.4);
}
@media (max-width:768px){
    #mana-image{
        width: 0px;
    }
    .table{
        padding: 5px;
        padding-right: 0px;
    }
    .table *{
        margin: 0px;
        margin-right: 5px;
    }
    #mana-table .table{
        margin: 0px;
        padding: 0px;
        width: 0px;
        height: 0px;
        border:0px;
    }
    #mana-table .table *{
        margin: 0px;
    }
    #plan-image{
        width: 0px;
    }
    .deploy{
        height: 25px;
        width: auto;
    }
    h2{
        font-size: 18px;
    }
    .item{
        height: 30px;
        padding: 5px;
        width: calc(100vw - 44px);
    }
}
@media (max-width:1200px) and (min-width:768px){
    .item{
        width: calc(100vw - 184px);
    }
    #plan-image{
        width: 0px;
    }
}