/* mana */
#mana-table{
    display: flex;
}
#mana-table .table{
    margin-left: 60px;
    margin-right: 60px;
    width: 340px;
    height: 340px;
    justify-content: center;
}
#mana-image{
    width: 300px;
    height: 300px;
}

/* ways-use */
#ways-use{
    margin-top: 10px;
    /* margin-left: auto;
    margin-right: auto; */
}
#ways-use *{
    height: 180px;
    width: 180px;
}

#tokenomic-image{
    align-self: center;
    text-align: center;
    width: 860px;
    height: 410px;
}
@media (max-width:768px){
     #mana-table .table{
        margin: 0px;
        padding: 0px;
        width: 0px;
        height: 0px;
        border:0px;
    }
    #mana-table .table *{
        margin: 0px;
    }
    #mana-image{
        width: 0px;
    }
    #ways-use *{
        height: 135px;
        width: 135px;
    }
    #tokenomic-image{
        width: calc(100vw - 40px);
        height: auto;
    }
}
@media (max-width:1200px) and (min-width:768px){
    #mana-table{
        flex-direction: column;
    }
    #mana-table .table{
        margin: auto;
        margin-top: 10px;
    }
    #tokenomic-image{
        width: calc(100vw - 340px);
        height: auto;
    }
}